<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237498147289-1o350u2d6pngrfak7hbmc4a9g17hlm7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237498147289-1o350u2d6pngrfak7hbmc4a9g17hlm7p</string>
	<key>API_KEY</key>
	<string>AIzaSyBIXIo4sXXRY7oI0tbIaA3QIIdVmW63fzA</string>
	<key>GCM_SENDER_ID</key>
	<string>237498147289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.picsou.salsaddict</string>
	<key>PROJECT_ID</key>
	<string>salsaddict-22de1</string>
	<key>STORAGE_BUCKET</key>
	<string>salsaddict-22de1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237498147289:ios:7df07934ed3ae00e0179c8</string>
</dict>
</plist>